.env
!.env.example

# Docker build cache
**/tmp/
**/dist/
**/node_modules/
**/.next/
**/.cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.idea/
.vscode/
.claude/

# Playwright MCP artifacts
.playwright-mcp/

docker-compose.yaml